/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.bg_main {
    background-color: #f2efe4;
}

h2 {
    font-family: Pretendard-Bold, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #47453c4a;
}

h3 {
    font-family: Pretendard-Regular, sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}

p {
    font-family: Pretendard-Regular, sans-serif;
    font-size: 14px;
}

li,
a {
    font-family: Pretendard-Regular, sans-serif;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ul {
    list-style: none;
}

li {
    float: left;
    margin-left: 10rem;
}
*/
.header {
    display: flex;
    width: 1000px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

h1 {
    width: 150px;
}

h1 img {
    width: 100%;
    aspect-ratio: 100/100;
    object-fit: cover;
}

.header_menu {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header_menu a {
    margin-left: 20px;
    /* flex-basis: 0; */
}

.login_wrap {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_wrap a {
    border-radius: 20px;
    padding: 10px;
    background-color: #e0b790;
}

.main_content {
    /* background-color: skyblue; */
    width: 1000px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
}

.main_img_group {
    width: 1000px;
    margin-bottom: 100px;
    /* display: block; */
    /* margin: 0 auto; */
}

.main_img_group img {
    width: 100%;
    aspect-ratio: 500/200;
    object-fit: cover;
    opacity: 90%
}

.info_desc {
    line-height: 20px;
}

.main_content_info {
    margin-bottom: 100px;
    width: 1000px;
}

.map_area img {
    width: 100%;
    aspect-ratio: 500/200;
    object-fit: cover;
}

.map_group_info {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-top: 1px solid #80808026; */
    border-bottom: 1px solid #80808026;
    width: 1000px;
}

.map_group_info img {
    width: 14px;
    height: 14px;
    /* background-color: skyblue; */
    vertical-align: middle;
    margin-right: 10px;
}

dt {
    display: flex;
}

dd {
    padding-left: 100px;
}

.map_group_info dl {
    display: flex;
    align-items: center;
    height: 30px;
}


.footer {
    background-color: #e7e7e7;
    /* text-align: center; */
    margin: auto;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_inside {
    display: flex;
}

.footer_img_sec {
    width: 150px;
    margin: 0 50px 0 0;

}

.footer_img {
    /* width: auto;
    height: 100px; */
    width: 100%;
    aspect-ratio: 100/100;
    object-fit: cover;
}

.footer_desc {

    width: 100%;
    line-height: 20px;
    display: grid;
    margin: 0 50px 0 0;

}

.footer_desc p {
    font-size: 0.7rem;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.sns-wrap {
    padding-top: 10px;
}