h1 {
    float: left;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-left: 10rem;
}

.header {
    overflow: hidden;
}

.footer {
    background-color: #e7e7e7;
    /* text-align: center; */
    margin: auto;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_inside {
    display: flex;
}

.footer_img_sec {

    margin: 0 50px 0 0;

}

.footer_img {
    width: auto;
    height: 100px;
}

.footer_desc {

    width: 100%;
    line-height: 20px;
    display: grid;
    margin: 0 50px 0 0;

}

.footer_desc p {
    font-size: 0.7rem;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.sns-wrap {
    padding-top: 10px;
}