h1 {
    float: left;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-left: 10rem;
}

.header {
    overflow: hidden;
}

.footer {
    background-color: #e7e7e7;
    /* text-align: center; */
    margin: auto;
    height: 10em;

}

.footer_img_sec {
    float: left;
}

.footer_img {
    width: 5rem;
    height: 5rem;
}

.footer_desc p {
    font-size: 0.7rem;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}