<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Homework/css/Animation.css">
    <title>Animation</title>
</head>

<body>
    <div class="bos_raccoon">
        <div class="ear left">
            <div class="inside-ear-left inside-ear"></div>
        </div>
        <div class="ear right">
            <div class="inside-ear-right inside-ear"></div>
        </div>
        <div class="face">
            <img class="eye-wrap" src="/Homework/images/eye-wrap.png" alt="눈 주변 색생">
        </div>
    </div>

</body>

</html>