body {
    box-sizing: border-box;
}

div {
    margin: 10px;

}

.box1 {
    background-color: #343f50;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    border: 2px solid #000;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px #4A5568 inset;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box2 {
    background: linear-gradient(90deg, rgba(139, 75, 246, 1) 0%, rgba(97, 92, 244, 1) 35%, rgba(50, 108, 241, 1) 100%);
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    /* outline: 1px dashed #e6d6ff; 아웃라인은 focus 용도를 자주 쓰이기에 다른 방법을 이용하는 것이 좋음*/
    border: 2px dashed #e6d6ff;
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    width: 100px;
    height: 40px;
    text-align: center;
    color: #29363d;
    font-weight: bold;
    border: 1px solid #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 30px 30px;
    box-shadow: 3px 3px 3px 0px #e4e4e4;
}