<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>landigpage</title>
</head>

<body class="body-wrap">
    <div class="header-bg">
        <div class="header-width">
            <header class="header-wrap">
                <h1 class="logo">Chiot Noir</h1>
                <div class="menu-wrap">
                    <nav class="nav-wrap">
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Notice</a></li>
                        </ul>
                    </nav>
                    <button type="button" class="btn-login">Login</button>
                </div>
            </header>
            <section class="sec1">
                <div class="sec1-text">
                    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, ratione! Fugiat quidem</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam repudiandae aspernatur
                        perspiciatis
                        excepturi, praesentium consequuntur amet quidem accusantium hic quos, autem mollitia! Voluptas
                        ipsam
                        officiis modi veniam ullam distinctio blanditiis!
                    </p>
                </div>
                <div class="sec1-img-wrap">
                    <img src="../images/box-cat.png" alt="메인고양이">
                </div>
            </section>
        </div>
    </div>
    <main class="main-wrap">
        <section class="sec2">
            <div class="sec2-bg">
                <div class="sec2-width">
                    <div class="sec2-cat1">
                        <img src="../images/cat_1.png" alt="누운고양이">
                        <div class="sec2-text">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="sec2-h3">
                        <h3>
                            dummy text of the printing and dummy
                        </h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown
                        </p>
                    </div>
                    <div class="sec2-img-wrap">
                        <img src="../images/cat_2.png" alt="아래보는고양이">
                        <img src="../images/cat_3.png" alt="벽보는고양이">
                        <img src="../images/cat_4.png" alt="바라보는고양이">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Chiot Noir</p>
        <div class="footer-icon">
            <!--  -->
        </div>
    </footer>
</body>

</html>