/* font */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpoqaHanSansNeo', sans-serif;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.login-wrap {
    /* width: 520px; */
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    margin: 50px auto;
    max-width: calc(100% - 50px);
}

.header {
    border-bottom: 1px solid #C4C4C4;
    padding: 18px 0;
    position: relative;
}

.header h1 {
    font-size: 16px;
    text-align: center;
    /* margin: 18px 0; */
}

.header .btn-close {
    width: 16px;
    height: 16px;
    background-image: url(../images/close.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: 24px;
    top: 22px;
}

.login-inner {
    margin: 25px 24px;
}

.login-inner h2 {
    font-size: 20px;
    margin-bottom: 24px;
}

.login-inner .text-id,
.text-pw {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0 15px 16px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    background: #FFF;
}

.login-inner .validate-font {
    color: #F4492E;
    font-size: 14px;
    font-weight: 400;
    margin: 9px 4px;
}

.txt-hide {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    position: absolute;
}

.label-hold {
    position: relative;
}

.label-hold:hover {
    cursor: pointer;
}

.label-hold::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    vertical-align: -4px;
    margin-left: 4px;
    margin-right: 8px;
    background: url(../images/check-box_gray.svg) 0 0/22px no-repeat;
}

.label-hold::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    left: 4px;
    background: url(../images/check-box_blue.svg) 0 0/22px no-repeat;
    margin-right: 8px;
    opacity: 0;
}

.input-hold:checked+.label-hold::after {
    opacity: 1;
}

.btn-login {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #2F80ED;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 20px 0;
}

.join-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.join-wrap a,
p {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
}

.or-wrap p {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 30px 0 20px 0;
}

.or-wrap p::before,
.or-wrap p::after {
    content: '';
    flex-grow: 1;
    background: #C4C4C4;
    height: 1px;
    margin: 0 13px;
}

.sns-btn a {
    padding: 15px 0;
    color: #767676;
    font-weight: 500;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns-btn a img {
    width: 28px;
    height: 28px;
}

.google {
    border-radius: 5px;
    border: 1px solid #767676;
}

.google:hover {
    background-color: #7676760d;
}

.google a img {
    margin-left: 12px;
}

.google a p {
    width: 100%;
    text-align: center;
}

.facebook {
    border-radius: 5px;
    border: 1px solid #2D9CDB;
    background: #FFF;
    margin-top: 10px;
}

.facebook:hover {
    background-color: #2D9CDB0d;
}

.facebook a img {
    margin-left: 12px;
}

.facebook a p {
    width: 100%;
    text-align: center;
}

.naver {
    border-radius: 5px;
    border: 1px solid #00BF18;
    background: #FFF;
    margin-top: 10px;
}

.naver:hover {
    background-color: #00BF180d;
}

.naver a img {
    margin-left: 12px;
}

.naver a p {
    width: 100%;
    text-align: center;
}

.kakao {
    border-radius: 5px;
    border: 1px solid #F2C94C;
    background: #FFF;
    margin-top: 10px;
}

.kakao:hover {
    background-color: #F2C94C0d;
}

.kakao a img {
    margin-left: 12px;
}

.kakao a p {
    width: 100%;
    text-align: center;
}