<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>로그인 모달창</title>
</head>

<body>
    <article class="login-wrap">

        <header class="header">
            <div class="btn-close"></div>
            <h1>로그인 또는 회원가입</h1>
        </header>
        <section class="login-inner">
            <h2>위니브에서 여러분의 궁금증을 해결하세요!:)</h2>
            <label for="login-id" class="a11y-hidden"></label>
            <input id="login-id" type="text" class="text-id text" placeholder="아이디">
            <p class="validate-font">아이디를 입력해 주세요.</p>
            <label for="login-pw" class="a11y-hidden"></label>
            <input id="login-pw" type="password" class="text-pw text" placeholder="비밀번호">
            <p class="validate-font">아이디 혹은 비밀번호가 일치하지 않습니다.</p>
            <input type="checkbox" id="input-hold" class="txt-hide input-hold" tabindex="-1">
            <label for="input-hold" class="label-hold">로그인 상태 유지</label>
            <button type="button" class="btn-login">로그인</button>

            <div class="join-wrap">
                <a href="#">회원가입</a>
                <p>|</p>
                <a href="#">아이디/비밀번호찾기</a>
            </div>
            <div class="or-wrap">
                <p>또는</p>
            </div>

            <div class="sns-login-wrap">
                <ul>
                    <li class="sns-btn google">
                        <a href="#">
                            <img src="../images/icon_google.png" alt="구글아이콘">
                            <p>구글 계정으로 로그인</p>
                        </a>
                    </li>
                    <li class="sns-btn facebook">
                        <a href="#">
                            <img src="../images/icon_facebook.png" alt="페이스북아이콘">
                            <p>페이스북 계정으로 로그인</p>
                        </a>
                    </li>
                    <li class="sns-btn naver">
                        <a href="#">
                            <img src="../images/icon_naver.png" alt="네이버아이콘">
                            <p>네이버 계정으로 로그인</p>
                        </a>
                    </li>
                    <li class="sns-btn kakao">
                        <a href="#">
                            <img src="../images/icon_kakao.png" alt="카카오아이콘">
                            <p>카카오톡 계정으로 로그인</p>
                        </a>
                    </li>
                </ul>
            </div>

        </section>
    </article>
</body>

</html>